// main: style.scss
#containAbout {
  display: flex;
  justify-content: center;

  .aboutHolder {
    animation: aboutzoomer 0.25s ease-in 1;
    width: 80%;
    height: auto;
    overflow-y: hidden;
    border-radius: 0.5vw;

    margin-top: 1.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
    padding: 1.5%;

    background: white;
    box-shadow: 1vw 0.5vh 0.5vw grey;

    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    @media screen and (max-width: 1025px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
    }
  }
}

@keyframes aboutzoomer {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
