// main: style.scss
#content {
  &.top {
    padding-top: 100px;
  }
  & h1 {
    visibility: visible;
  }
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../contentbackground.png');
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-repeat: repeat;
  background-position: center center; /* optional, center the image */
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  .sectiondiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #49274a;
    color: White;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vh;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background: rgba(73,39,74,0.35);
      color: #49274a;
      transition: 0.5s;
    }
  }
  .containers {
    background: rgba(206, 206, 206, 0.2);
    margin: auto;
    padding: 0%;
    width: 100%;
  }
  @import 'about';
  @import 'projects';
  @import 'skills';
  @import 'education';
  @import 'contact';
  #copyright {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2px;
  }
}
