// main: style.scss
#containContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  .contactHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #49274a;
    height: auto;
    margin-bottom: 5px;
    i {
      margin-right: 10px;
      font-size: 50px;
    }
    .contactdetail {
      font-size: 25px;
      color: #49274a;
    }
  }
}
