// main: style.scss
#Header {
  background: #dcdcf4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #49274a;

  .name {
    margin-top: 20px;
    font-size: 4.5rem;
    font-weight: 900;
  }
  .minor {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 25px;
  }
}
