//variable declaration in list form fot links only

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';
$widthcutoff: 990px;
body {
  background: white;
  overflow-y: scroll;
  #Holder {
    &.extended {
      display: flex;
      flex-direction: row;
    }
    @import 'menu';
    @import 'content';
  }
}

.fadein{
  animation-name: showblock;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.fadeout{
  height: 0px;
  animation-name: hideblock;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes showblock {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideblock {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}