//variable declaration in list form fot links only

$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';
$widthcutoff: 990px;
body {
  background: white;
  overflow-y: scroll;
  #App {
    @import 'header';
    @import 'content';
  }
}

.scroller {
  position: fixed;
  animation: scrollShow 0.5s linear 1;
  bottom: 2px;
  right: 15%;
  font-size: 7rem;
  opacity: .85;
  color: #809eea;
}


.fadein{
  animation-name: showblock;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.fadeout{
  height: 0px;
  animation-name: hideblock;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes scrollShow {
  0% {
    transform: rotate(0deg) scale(0);
  }
  50% {
    transform: rotate(180deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes showblock {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideblock {
  0% {
    height: 100px;
  }
  100% {
    height: 0px;
  }
}